@model rsweb10.ViewModels.EnrollmentSearch

@{
    ViewData["Title"] = "Index";
}

<h1>Enrolled Students In @ViewBag.Course With Teacher @ViewBag.Teacher</h1>

<form asp-controller="Enrollments" asp-action="StudentsEnrolledAtCourse" asp-route-teacher="@ViewBag.Teacher">
    <p>
        Year: <select asp-for="year" asp-items="Model.yearsList">
            <option>Select year</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Course.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].SeminalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].ProjectUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].ExamPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].SeminalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].ProjectPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].AdditionalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.enrollments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @if(@item.SeminalUrl != null)
                {    
                        <a href="~/seminals/@item.SeminalUrl">Seminal File</a>
                    }
                    else
                    {
                        <span>No file</span>
                    }
            </td>
            <td>
                 @if(@item.ProjectUrl != null)
                {    
                        <a href="@item.ProjectUrl">Project Link</a>
                    }
                    else
                    {
                        <span>No link</span>
                    }
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.ExamPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeminalPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @if (item.FinishDate == null)
                {
                    <a asp-action="EditAsTeacher" asp-route-id="@item.EnrollmentID" asp-route-teacher="@ViewBag.Teacher">Edit</a>
                    <span> |</span>
                }
                <a asp-action="Details" asp-route-id="@item.EnrollmentID">Details</a> 
                 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                 {
                     @Html.Raw("|");
                <a asp-action="Delete" asp-route-id="@item.EnrollmentID">Delete</a>
                 }
            </td>
        </tr>
}
    </tbody>
</table>